@import '../../index.scss';
img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}
.infinite-scroll-component {
    overflow: hidden !important;
}

div[role="dialog"]{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0,0,0,.8);
    .modal-backdrop,.modal,.modal-dialog,.modal-content,.modal-body{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 0;
    }

    .modal-body{
        display: flex;
        justify-content: center;
        align-items: center;

        .box-img{
            padding: 15px;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                border-radius: 8px;
                object-fit: contain;
                max-height: 100%;
                height: auto;
                max-width: 100%;
                width: auto;
            }
            .author{
                position: absolute;
                bottom: 15px;
                right: 15px;
                font-weight: 100;
                color: rgba(255,255,255,.5);
                padding: 4px 12px;
                border-radius: 25px;
                background: map-get($color, default);
                span{
                    font-weight: normal;
                    color: #fff;
                }
            }
        }
    }

    .close{
        border: 6px solid map-get($color, default);
        padding: 5px;
        background: none;
        opacity: .5;
        cursor: pointer;
        color: map-get($color, default);
        background: #fff;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        font-size: 15px;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 999;

        &:hover{
            opacity: 1;
        }
    }
}