@import '../../index.scss';
header {
    color: #fff;
    height: 80px;
    width: 100%;
    background: linear-gradient(150deg, map-get($color,default), map-get($color,secundary));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 8;

    h1{
        margin-bottom: 5px;
    }
    p{
        opacity: .5;
        font-weight: 100;
    }
}